*   {
    box-sizing: border-box;
}
.navTool {
    display: flex;
    background-color: #00B6FF;
    color: #FFFF59;
    align-items: center;
    height: 100px;
    padding: 20px 10px;
}
.navTool   h1 {
    margin-right: auto;
}
body {
    margin: 0;
    font-family: Fira-sans, IBM-plex-serif;
    height: 100vh;
    background-color: #404750;
}
.baseBody   {
    text-align: center;
}
.storNet    {
    color: #FFFF59;
}
.trialFree  {
    padding: 10px;
    font-size: large;
    margin-right: 50px;
    color: #00B6FF
}
.upSign {
    padding: 10px;
    font-size: large;
    margin-right: 50px;
    color: #00B6FF
}
.infoMore   {
    padding: 10px;
    font-size: large;
    color: #00B6FF
}
.serviceProv    {
    margin-top: 50px;
    color: #FFFF59;
}
.corpLadder {
    margin-top: 100px;
    color: #FFFF59;
}
footer  {
    margin-top: 260px;
    display: flex;
    align-items: center;
    background-color: #00B6FF;
}
.usJoin {
    color: #FFFF59;
    font-size: large;
    position: absolute;
    margin-top: -90px;
    margin-left: 30px;
}
.standOur   {
    color: #FFFF59;
    font-size: large;
    position: absolute;
    margin-top: -90px;
    margin-left: 850px;
}
.usHelp {
    color: #FFFF59;
    font-size: large;
    margin-top: -90px;
    margin-right: -60px;
}
.logUp  {
    margin-right: auto;
    font-size: large;

}
.policyUse  {
    margin-right: auto;
    font-size: large;
}
.recoveryBack {
    font-size: large;

}