body{
    background-color: #2a2b33;
}

.mainContainer{
    width: 840px;
    min-height: 800px;
    height: 100vh;
    margin: 0 auto;
    background-color: #6F7188;
    box-shadow: 0px 0px 20px black;
    border-radius: 25px;
    color: white;
}

.mainGrid--Wrapper{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
}

.navBar--Container{
    display: grid;
    background-color: #00B6FF;
    border-radius: 25px 25px 0px 0px;
    height: 13vh;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 7px 10px #003e57;
    align-self: start;
    align-items: center;
}


.navBar--LadderButton, .navBar--LoginButton{

}

.navBar--LadderButton{

}

.navBar--LoginButton{

}

.navBar--Button1 {
    text-align: left;
}

.navBar--Button2{
    text-align: right;
}

.navBar--Button1, .navBar--Button2 {
    
}

.navBar--LogoImg{
    display: block;
    position: absolute;
    padding-top: 4vh;
    margin-left: 1vh;
    margin-top: 4vh;
    padding: 0;
    height: 5vh;
}

.home--Container{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
}

.home--ButtonContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.footer--Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 13vh;
    align-self: end;
    margin-left: 2vh;
    margin-right: 2vh;
    padding-top: 2vh;
    padding-left: 5vh;
    border-top: 1px solid #00B6FF;

}

.footer--Label{
    margin: 0 auto;
}

.footer--JoinList, .footer--StandardsList, .footer--HelpList{
    list-style: none;
    margin: 0 auto;
    padding-left: 5vh;
}

.dashBoard--Container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 70vh;
    align-content: start;
    padding-top: 1vh;
}

.dashBoard--SideButtons{
    display: grid;
    margin: 0 auto;
    justify-items: start;
    align-items: center;
    row-gap: 1vh;
    border-right: 1px solid #00B6FF;
    padding-bottom: 45vh;
    padding-right: 1vh;
}

.dashBoard--Buttons{
    transition-duration: 0.4s;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #00B6FF;
    padding-bottom: 1vh;
    padding-top: 1vh;
    color:white;
}

.dashBoard--Buttons:hover {
    background-color: #00B6FF;
    border-radius: 2px;
    color:#FFFF59;
    border: 0px;
}